body {
  font-family: Tahoma;
  font-size: large;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  padding: 0.5rem;
}

nav a.selected {
  background-color: green;
  color: white;
}

img {
  width: 100px;
  height: 100px;
}

.campuses {
  display: flex;
  align-items: column;
}

.students {
  display: flex;
  align-items: column;
}

.student > div {
  width: 25%;
}

input {
  width: 100%;
}
