body {
  font-family: Tahoma;
  font-size: large;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  padding: 0.5rem;
}

nav a.selected {
  background-color: green;
  color: white;
}

img {
  width: 100px;
  height: 100px;
}

.campuses {
  display: flex;
  align-items: column;
}

.left-container {
  float: left;
  width: 30%;
}

.left-container > img {
  width: 320px;
  height: 240px;
}

.right-container {
  width: 70%;
  float: left;
}

.students {
  display: flex;
  align-items: column;
}

.students > div {
  width: 33%;
}

input {
  width: 100%;
}
